/*================================*/
/* CSS styling for the popup menu */
/*================================*/

body {
  text-align: center;
  font-family: 'Helvetica';
  width: 300px;
  margin: 0;
  padding: 1em;
  padding-bottom: 2rem;
  color: white;
  background: #121213;
  border: solid 2px #3a3a3c;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  position: relative;
}

div#answer {
  display: inline-flex;
  gap: 4px;
}

p {
  font-size: 1.5em;
}

a {
  color: #ffffff70;
  text-decoration: none;
}

p.footnote {
  text-align: right;
  font-size: 0.8rem;
  color: #ffffff70;
  position: absolute;
  bottom: 4px;
  right: 4px;
}

p.phrase {
  font-size: 1em;
}

div.mahjong.tile {
  height: 1.2rem;
  width: 1.2rem;
  font-size: 1rem;
}

.tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: var(--tile-text-color);
  text-transform: uppercase;
  user-select: none;
  background-color: #538d4e;
  height: 3rem;
  width: 3rem;
}

.flip {
  animation: flip;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes flip {
  from {
    transform: rotateX(-360deg);
  }

  to {
    transform: rotateX(0deg);
  }
}
